@import "../omarchy/current/theme/waybar.css";

* {
  background-color: @background;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: "LiterationMono Nerd Font Mono";
  font-size: 16px;
}

.modules-left {
  margin-left: 8px;
}

.modules-right {
  margin-right: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#battery,
#pulseaudio,
#custom-omarchy,
#custom-screenrecording-indicator,
#custom-update {
  min-width: 12px;
  margin: 0 7.5px;
  font-size: 24px;
}

#cpu {
  margin-top: 1px;
  font-size: 22px;
}

#battery {
  margin-top: 1px;
  font-size: 16px;
}

#pulseaudio {
  font-size: 28px;
}

#custom-omarchy {
  font-size: 16px;
}

#tray {
  margin-right: 16px;
  margin-left: 8px;
  font-size: 24px;
}

#bluetooth {
  margin-right: 17px;
  margin-left: 8px;
  font-size: 18px;
}

#network {
  margin-top: 1px;
  margin-right: 13px;
  font-size: 24px;
}

#custom-expand-icon {
  margin-right: 10px;
  font-size: 24px;
}

tooltip {
  padding: 2px;
}

#custom-update {
  font-size: 20px;
}

#clock {
  margin-left: 8.75px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator {
  min-width: 12px;
  margin-left: 8.75px;
  font-size: 10px;
}

#custom-screenrecording-indicator.active {
  color: #a55555;
}
